
<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item library="resources/lib/context.py">
        <label>LibraryGenie Options</label>
        <visible>!String.IsEmpty(ListItem.DBID) + [Container.Content(movies) | Container.Content(episodes) | Container.Content(tvshows)]</visible>
    </item>
    <item library="resources/lib/context.py" args="search">
        <label>Search with LibraryGenie</label>
        <visible>!String.IsEmpty(ListItem.DBID) + [Container.Content(movies) | Container.Content(episodes) | Container.Content(tvshows)]</visible>
    </item>
    <item library="resources/lib/context.py" args="add_to_list">
        <label>Add to LibraryGenie List</label>
        <visible>!String.IsEmpty(ListItem.DBID) + [Container.Content(movies) | Container.Content(episodes) | Container.Content(tvshows)]</visible>
    </item>
</menu>
